# Netscape HTTP Cookie File
# copy secrets\youtube_cookies.txt.example secrets\youtube_cookies.txt
# & "C:\Users\user\Downloads\yt-dlp.exe" --cookies-from-browser firefox --cookies secrets/youtube_cookies.txt --skip-download "https://www.youtube.com"
